@charset "utf-8";

/* sidebar */
.sidebar { background: rgb(34, 34, 34); border-left-color: rgb(51, 51, 51); border-left-width: 1px; border-left-style: solid; color: rgb(136, 136, 136); margin-left:40px; }
.sidebar label { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
.sidebar .close-box { position:fixed; top:0; right:280; margin-left:-35px; margin-top:200px; background:rgb(34, 34, 34); color:#fff; width:36px; height:36px; z-index:99999; line-height:32px; border:1px solid rgb(51, 51, 51); border-right:0px; }
.sidebar .btn-close { background: none; color: rgb(255, 255, 255); }
.sidebar .btn-close i { font-size: 16px; font-weight: 300 !important; }
.sidebar .sidebar-title { margin: 0px; padding: 8px 20px; color: rgb(97, 97, 97); text-transform: uppercase; overflow: hidden; font-size: 11px; position: relative;  }
.sidebar .sidebar-title::after { background: rgb(51, 51, 51); left: 15px; top: 26px; width: 80px; height: 1px; position: absolute; content: "";  }
.sidebar .sidebar-box { padding: 20px; }
.sidebar .sidebar-box h5 { font-size: 12px; }
.sidebar .sidebar-nav { margin-bottom:20px; }
.sidebar .sidebar-nav > ul { list-style: none; margin: 0px; padding: 0px; }
.sidebar .sidebar-nav > ul > li { border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid; }
.sidebar .sidebar-nav > ul > li > a { padding: 6px 20px; color: rgb(176, 176, 176); font-size: 12px; display: block; }
.sidebar .sidebar-nav > ul > li > a:hover { background: rgb(41, 41, 41); color: rgb(255, 255, 255); text-decoration: none; }
.sidebar .sidebar-nav > ul > li > a > i { margin-right: 5px; }
.sidebar .profile-box { padding: 20px 20px 0px; }
.sidebar .profile { height:95px; }
.sidebar .profile h3 { color: rgb(255, 255, 255); font-size:20px; line-height:30px; padding:8px 0px; margin:0px; letter-spacing:-1px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.sidebar .profile p { color: rgb(138, 138, 138); padding:0px; margin:0px; }
.sidebar .badge { font-weight:normal; }
.sidebar .profile-photo { width:80px; height:80px; margin:0px; margin-right:15px; border-radius: 50%; border:4px solid #000; -webkit-box-shadow: 0 0 0 5px rgb(34,34,34), 0 0 10px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 0 5px rgb(34,34,34), 0 0 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 0 5px rgb(34,34,34), 0 0 10px 0 rgba(0, 0, 0, 0.2); }
.sidebar .profile-photo img { width:80px; height:80px; border-radius: 50%; }
.sidebar .profile-photo i { width:80px; height:80px; font-size:40px; padding:15px 6px 0px 0px; text-align:center; }
.sidebar .btn-admin { border: 1px solid rgb(223, 17, 25); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(223, 27, 35); background-image: none; }
.sidebar .btn-admin:hover, .sidebar .btn-admin:focus, .sidebar .btn-admin:active { border-color: rgb(213, 7, 15); color: rgb(255, 255, 255) !important; background-color: rgb(213, 7, 15); background-image: none; }
.sidebar .btn-upload { border: 1px solid rgb(223, 17, 25); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(233, 27, 35); background-image: none; }
.sidebar .btn-upload:hover, .sidebar .btn-upload:focus, .sidebar .btn-upload:active { border-color: rgb(213, 7, 15); color: rgb(255, 255, 255) !important; background-color: rgb(213, 7, 15); background-image: none; }
.sidebar .btn-logout { border: 1px solid rgb(223, 17, 25); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(223, 27, 35); background-image: none; }
.sidebar .btn-logout:hover, .sidebar .btn-logout:focus, .sidebar .btn-logout:active { border-color: rgb(213, 7, 15); color: rgb(255, 255, 255) !important; background-color: rgb(213, 7, 15); background-image: none; }

/* amina-widget-banner */
.amina-widget-banner { position: relative; line-height:20px; }
.amina-widget-banner .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; border-bottom:1px dotted #aaa; background: #fff; }
.amina-widget-banner .widget-body { padding:12px 14px 0px; margin:0px; background: #fff; }
.amina-widget-banner .carousel-nav { float:right; margin-top:-41px; }
.amina-widget-banner .carousel-nav i { color:#888; margin-left:5px; font-size:18px; }
.amina-widget-banner .row { margin-left:-7px; margin-right:-7px; }
.amina-widget-banner .col { padding-left:7px; padding-right:7px; }
.amina-widget-banner .content { padding:0px 0px 14px; overflow:hidden; }
.amina-widget-banner .img { display:block; position:relative; height:0; overflow:hidden; text-align:center; background:#f5f5f5; }
.amina-widget-banner .img img { display:block; position:absolute; top:0; left:0; margin:0 auto; width:100%; height:auto; border:0px; }
.amina-widget-banner .caption {  display:block; text-align:left; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; background:#000; color:#fff; padding: 6px 10px; transition:transform 0.4s, opacity 0.1s 0.3s; left: 0px; width: 100%; bottom: 0px; position: absolute; opacity: 0; transform: translateY(100%); -o-transition: -o-transform .4s, opacity .1s .3s; -moz-transition: -moz-transform .4s, opacity .1s .3s; -webkit-transition: -webkit-transform .4s, opacity .1s .3s; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -o-transform: translateY(100%); }
.amina-widget-banner .img:hover .caption { transition:transform 0.4s, opacity 0.1s; opacity: 0.8; transform: translateY(0px); -o-transition: -o-transform .4s, opacity .1s; -moz-transition: -moz-transform .4s, opacity .1s; -webkit-transition: -webkit-transform .4s, opacity .1s; -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); }
.amina-widget-banner .caption .cnt { font-size:10px; font-family:verdana; letter-spacing:-1px; font-weight:bold; color: orangered; margin-left:12px; margin-right:4px; }
.amina-widget-banner .caption .icon { color:#ddd; }
.amina-widget-banner .caption .rank-icon { display:inline-block; padding:0px 6px; font-size:11px; letter-spacing:-1px; line-height:16px; margin-right:2px; }
.amina-widget-banner .btn-wset { padding-bottom:10px; }

/* amina-widget-category */
.amina-widget-category .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; background: #fff; }
.amina-widget-category .widget-body { padding:0px; margin:0px; background: #fff; }
.amina-widget-category ul { background: #fff; list-style: none; margin: 0px; padding: 0px !important; border: 1px solid rgb(221, 221, 221); border-image: none; overflow: hidden; }
.amina-widget-category ul li { border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; }
.amina-widget-category ul li:last-child {	border: 0px currentColor; border-image: none; }
.amina-widget-category ul li a { padding: 7px 15px; display: block; }
.amina-widget-category ul li a::after { top: 0px; font-family: "FontAwesome"; float: right; position: relative; content: "\f105"; }
.amina-widget-category ul li a:hover { background: rgb(233, 27, 35); color: rgb(255, 255, 255); text-decoration: none; }
.amina-widget-category ul li a i { color: rgb(153, 153, 153); padding-right: 5px; font-size: 11px; font-style: normal; vertical-align: middle; display: inline-block; }
.amina-widget-category ul li a:hover i { color: rgb(255, 255, 255); }
.amina-widget-category ul li span i { font-size:12px; margin-left:5px; color: rgb(55, 55, 55); }
.amina-widget-category ul li .old { display:none; }
.amina-widget-category ul li .new { color: rgb(233, 75, 59); }
.amina-widget-category ul li a .on { font-weight:bold; color: crimson; }
.amina-widget-category ul li a:hover .on { color: rgb(255, 255, 255); }
.amina-widget-category ul li.sub { background: #fafafa; }

/* amina-widget-gallery */
.amina-widget-gallery { position: relative; line-height:20px; }
.amina-widget-gallery .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; border-bottom:1px dotted #aaa; background: #fff; }
.amina-widget-gallery .widget-body { padding:12px 14px 0px; margin:0px; background: #fff; }
.amina-widget-gallery .widget-more { font-size:11px; font-weight:normal; color:#888; letter-spacing:-1px; margin-top:1px; }
.amina-widget-gallery .row { margin-left:-7px; margin-right:-7px; }
.amina-widget-gallery .col { padding-left:7px; padding-right:7px; }
.amina-widget-gallery .img { display:block; position:relative; height:0; overflow:hidden; text-align:center; background:#f5f5f5; }
.amina-widget-gallery .img img { display:block; position:absolute; top:0; left:0; margin:0 auto; width:100%; height:auto; border:0px; }
.amina-widget-gallery .content { padding:12px 0px 0px; height:95px; overflow:hidden; }
.amina-widget-gallery .content strong { margin:0; padding:0px 0px 4px; line-height:20px; font-weight: bold; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.amina-widget-gallery .content strong a:hover { color:crimson; }
.amina-widget-gallery .content p { font-size:12px; color:#888; padding:0px; margin:0px; line-height:20px; overflow:hidden; height:40px; }
.amina-widget-gallery.mobile .content p { font-size:13px; }
.amina-widget-gallery .content .cnt { font-size:10px; font-family:verdana; letter-spacing:-1px; font-weight:bold; color: rgb(233, 27, 35); margin-left:12px; margin-right:4px; }
.amina-widget-gallery .content .rank-icon { display:inline-block; color:#fff; padding:0px 6px; font-size:11px; letter-spacing:-1px; line-height:16px; margin-right:2px; }
.amina-widget-gallery .btn-wset { padding-bottom:10px; }

/* amina-widget-webzine */
.amina-widget-webzine { position: relative; line-height:20px; }
.amina-widget-webzine .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; border-bottom:1px dotted #aaa; background: #fff; }
.amina-widget-webzine .widget-body { padding:12px 14px 0px; margin:0px; background: #fff; }
.amina-widget-webzine .widget-more { font-size:11px; font-weight:normal; color:#888; letter-spacing:-1px; margin-top:1px; }
.amina-widget-webzine .row { margin-left:-7px; margin-right:-7px; }
.amina-widget-webzine .col { padding-left:7px; padding-right:7px; }
.amina-widget-webzine .img-box.left { margin-right:12px; }
.amina-widget-webzine .img-box.right { margin-left:12px; }
.amina-widget-webzine .img { display:block; position:relative; height:0; overflow:hidden; text-align:center; background:#f5f5f5; }
.amina-widget-webzine .img img { display:block; position:absolute; top:0; left:0; margin:0 auto; width:100%; height:auto; border:0px; }
.amina-widget-webzine .content { margin:0px 0px 12px; overflow:hidden; }
.amina-widget-webzine .content strong { margin:0; padding:0px 0px 4px; line-height:20px; font-weight: bold; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.amina-widget-webzine .content strong a:hover { color:crimson; }
.amina-widget-webzine .content p { font-size:12px; color:#888; padding:0px; margin:0px; line-height:20px; overflow:hidden; height:40px; }
.amina-widget-webzine.mobile .content p { font-size:13px; }
.amina-widget-webzine .content .cnt { font-size:10px; font-family:verdana; letter-spacing:-1px; font-weight:bold; color: rgb(233, 27, 35); margin-left:12px; margin-right:4px; }
.amina-widget-webzine .content .rank-icon { display:inline-block; color:#fff; padding:0px 6px; font-size:11px; letter-spacing:-1px; line-height:16px; margin-right:2px; }
.amina-widget-webzine .btn-wset { padding-bottom:10px; }

/* amina-widget-list */
.amina-widget-list .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; border-bottom:1px dotted #aaa; background: #fff; }
.amina-widget-list .widget-body { padding:10px 14px; margin:0px; background: #fff; }
.amina-widget-list .widget-more { font-size:11px; font-weight:normal; color:#888; letter-spacing:-1px; margin-top:1px; }
.amina-widget-list ul { padding:0px; margin:0px; line-height:22px; list-style:none; }
.amina-widget-list li { margin:0; padding:0px; }
.amina-widget-list li a { margin:0; padding:0px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.amina-widget-list li a:hover { font-weight:bold; color:crimson; }
.amina-widget-list li .icon { color:#ddd; }
.amina-widget-list li .rank-icon { display:inline-block; padding:0px 6px; font-size:11px; letter-spacing:-1px; line-height:16px; margin-right:2px; }
.amina-widget-list li .cnt { font-size:10px; font-family:verdana; letter-spacing:-1px; font-weight:bold; color: rgb(233, 27, 35); margin-left:12px; margin-right:4px; }
.amina-widget-list .btn-wset { padding-bottom:10px; }

/* amina-widget-newsticker */
.amina-widget-newsticker { }
.amina-widget-newsticker a { display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.amina-widget-newsticker .rank-icon { display:inline-block; padding:0px 6px; font-size:11px; letter-spacing:-1px; line-height:20px; margin-right:2px; }
.amina-widget-newsticker .cnt { font-size:10px; font-family:verdana; letter-spacing:-1px; font-weight:bold; color: rgb(233, 27, 35); margin-left:12px; margin-right:4px; }

/* amina-widget-notice */
.amina-widget-notice { }
.amina-widget-notice .notice-box { background:#fafafa; border:1px solid #ddd; padding:8px 15px; }
.amina-widget-notice .carousel a { display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.amina-widget-notice .rank-icon { display:inline-block; padding:0px 6px; font-size:11px; letter-spacing:-1px; line-height:20px; margin-right:2px; }
.amina-widget-notice .cnt { font-size:10px; font-family:verdana; letter-spacing:-1px; font-weight:bold; color: rgb(233, 27, 35); margin-left:12px; margin-right:4px; }
.amina-widget-notice .btn-wset { margin-top:10px; }

/* amina-widget-outlogin */
.amina-widget-outlogin label { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
.amina-widget-outlogin .profile .photo { margin-right:12px; }
.amina-widget-outlogin .profile .photo img { width:60px; height:60px; border-radius: 50%; border:0; }
.amina-widget-outlogin .profile .photo i { width:60px; height:60px; font-size:30px; padding:15px 0px 0px; text-align:center; background:#f5f5f5; border-radius: 50%; }
.amina-widget-outlogin .profile h3 { font-size:18px; line-height:32px; padding:0px; margin:0px; letter-spacing:-1px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }

/* amina-widget-stats */
.amina-widget-stats .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; border-bottom:1px dotted #aaa; background: #fff; }
.amina-widget-stats .widget-body { padding:10px 14px; margin:0px; background: #fff; }
.amina-widget-stats ul { list-style: none; margin: 0px; padding: 0px; line-height:22px; }

/* amina-widget-shop-banner */
.amina-widget-shop-banner .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; border-bottom:1px dotted #aaa; background: #fff; }
.amina-widget-shop-banner .widget-body { padding:12px 14px 0px; margin:0px; background: #fff; }
.amina-widget-shop-banner .carousel-nav { float:right; margin-top:-41px; }
.amina-widget-shop-banner .carousel-nav i { color:#888; margin-left:5px; font-size:18px; }
.amina-widget-shop-banner .row { margin-left:-7px; margin-right:-7px; }
.amina-widget-shop-banner .col { padding-left:7px; padding-right:7px; }
.amina-widget-shop-banner .img { display:block; position:relative; height:0; overflow:hidden; margin-bottom:14px;}
.amina-widget-shop-banner .img img { display:block; position:absolute; top:0; left:0; width:100%; height:auto; border:0px; }
.amina-widget-shop-banner .btn-wset { padding-bottom:10px; }

/* amina-widget-shop-event */
.amina-widget-shop-event .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; border-bottom:1px dotted #aaa; background: #fff; }
.amina-widget-shop-event .widget-body { padding:12px 14px 0px; margin:0px; background: #fff; }
.amina-widget-shop-event .carousel-nav { float:right; margin-top:-41px; }
.amina-widget-shop-event .carousel-nav i { color:#888; margin-left:5px; font-size:18px; }
.amina-widget-shop-event .row { margin-left:-7px; margin-right:-7px; }
.amina-widget-shop-event .col { padding-left:7px; padding-right:7px; }
.amina-widget-shop-event .img { display:block; position:relative; height:0; overflow:hidden; margin-bottom:14px;}
.amina-widget-shop-event .img img { display:block; position:absolute; top:0; left:0; width:100%; height:auto; border:0px; }
.amina-widget-shop-event .btn-wset { padding-bottom:10px; }

/* amina-widget-shop-item */
.amina-widget-shop-item .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; border-bottom:1px dotted #aaa; background: #fff; }
.amina-widget-shop-item .widget-body { padding:12px 14px 0px; margin:0px; background: #fff; }
.amina-widget-shop-item .widget-more { font-size:11px; font-weight:normal; color:#888; letter-spacing:-1px; margin-top:1px; }
.amina-widget-shop-item .item-box { position:relative; padding:0px; margin-bottom:14px; overflow:hidden; }
.amina-widget-shop-item .row { margin-left:-7px; margin-right:-7px; }
.amina-widget-shop-item .col { padding-left:7px; padding-right:7px; }
.amina-widget-shop-item .label-tack { left: 0px; top: 10px; z-index: 1; position: absolute; }
.amina-widget-shop-item .label-band { 
	z-index:2; font-family: tahoma; top: 5px; color: #fff; letter-spacing:1px; width: 100px; padding: 5px; right: -32px; font-size: 11px; position: absolute; text-align: center; 
	transform: rotate(45deg); -o-transform: rotate(45deg);	-ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); 
}
.amina-widget-shop-item .label-dc { color:orangered; text-align:right; font-weight:bold; font-style:italic; width:100%; margin:0px; padding:0px 10px; line-height:40px; height:40px; margin-top:-40px; font-size:32px; letter-spacing:-1px; position:relative; z-index:2; text-shadow: 0px 2px 1px rgba(0,0,0,0.7); }
.amina-widget-shop-item .label-dc-cur { color:orangered; text-align:right; font-weight:bold; font-style:italic; width:100%; margin:0px; padding:0px 10px; line-height:35px; height:75px; margin-top:-75px; font-size:32px; letter-spacing:-1px; position:relative; z-index:2; text-shadow: 0px 2px 1px rgba(0,0,0,0.7); }
.amina-widget-shop-item .label-dc-cur strike { color:#fff; line-height:20px; height:20px; font-size:20px; }
.amina-widget-shop-item .label-share { margin:0px; padding:0px 10px; line-height:40px; height:40px; margin-top:-40px; position:relative; z-index:2; }
.amina-widget-shop-item .img { display:block; position:relative; height:0; overflow:hidden; }
.amina-widget-shop-item .img img { display:block; position:absolute; top:0; left:0; width:100%; height:auto; border:0px; }
.amina-widget-shop-item .item-content { position:relative; margin:0px; line-height:22px; border:0px; background:#fff; }
.amina-widget-shop-item .item-box:hover .item-content { padding:0px; margin:0px; border:0px solid rgb(231,76,60); }
.amina-widget-shop-item strong { margin:0px; padding:0px; line-height:22px; font-weight: bold; letter-spacing:-1px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.amina-widget-shop-item strong a { color:#333; text-decoration:none; }
.amina-widget-shop-item strong a:hover { color:crimson; text-decoration:none; }
.amina-widget-shop-item .text { padding:15px 0px 0px; }
.amina-widget-shop-item .desc { font-size:12px; color:#888; line-height:20px; padding:0px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.amina-widget-shop-item.mobile .desc { font-size:13px; }
.amina-widget-shop-item .details { padding:2px 2px 0px; }
.amina-widget-shop-item .details i { margin-right:2px; }
.amina-widget-shop-item .details strike { font-size:12px; color:#888; font-weight:normal; }
.amina-widget-shop-item .details .price i { font-size:12px; }
.amina-widget-shop-item .btn-wset { padding-bottom:10px; }

/* amina-widget-shop-post */
.amina-widget-shop-post .widget-head { padding:12px 14px 6px !important; margin:0px; font-weight:bold; border-bottom:1px dotted #aaa; background: #fff; }
.amina-widget-shop-post .widget-body { padding:14px; margin:0px; background: #fff; }
.amina-widget-shop-post .widget-more { font-size:11px; font-weight:normal; color:#888; letter-spacing:-1px; margin-top:1px; }
.amina-widget-shop-post .media { margin:0px 0px 10px; }
.amina-widget-shop-post .photo img { width:44px; height:44px; border:0px; border-radius:50%; }
.amina-widget-shop-post a { margin:0; padding:0px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.amina-widget-shop-post a:hover { font-weight:bold; color:crimson; }
.amina-widget-shop-post .info { margin:0; padding:0px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; letter-spacing:-1px; }
.amina-widget-shop-post .btn-wset { margin-top:10px; }
