@charset "utf-8";

/* Common */
.item-explan p {
	padding:0px; margin:0px; 
}
.img-photo i { 
	background: rgb(245, 245, 245); padding: 16px; border-radius: 50%; width: 80px; height: 80px; text-align: center; color: rgb(143, 143, 143); font-size: 40px; display: inline-block; 
}
.img-photo img { 
	border-radius: 50%; width: 80px !important; height: 80px !important; display:inline-block; 
}
.img-resize img { 
	max-width:100%; height:auto; 
}
table.item-table { 
	width:100%; border-collapse:collapse; padding:0px; margin:0 0 15px; border:0px; border:1px solid #ddd; border-bottom:0px; 
}
table.item-table th { 
	width:120px; text-align:center; padding:8px 10px; border-bottom:1px solid #ddd; background:#fafafa; white-space:nowrap;
}
table.item-table th.white { 
	background:#fff;
}
table.item-table td { 
	padding:8px 10px; border-bottom:1px solid #ddd;
}

/* Comment Media */
.comment-media { 
	margin-top:-10px; padding-bottom:10px;
}
.comment-media .photo i { 
	background: rgb(245, 245, 245); padding: 15px; border-radius: 50%; width: 64px; height: 64px; text-align: center; color: rgb(143, 143, 143); font-size: 30px; display: inline-block; 
}
.comment-media .photo img { 
	border-radius: 50%; width: 64px !important; height: 64px !important; display:inline-block; 
}
.comment-media .media { 
	border-top:1px solid #eee; margin:7px 0px; padding:7px 0px 0px; 
}
.comment-media :first-child.media { 
	border-top:0px; margin-top:0px; padding-top:0px; 
}
.comment-media h5 { 
	margin:2px 0px; line-height: 22px; font-size:13px;
}
.comment-media .media.media-reply { 
	border:0px; border-top:1px solid #eee; margin:7px 0px 0px; padding:7px 0px 0px;
}
.comment-media .media .media-body { 
	padding-left:0px;
}
.comment-media .media .media-info {
	margin-left:10px;
}
.comment-media .media .media-content {
	margin-top:8px;
}
.comment-media .media .media-content img { 
	max-width:100%; 
}
.comment-media .media .media-ans {
	color: orangered; font-size: 10px; font-weight:bold; font-family:verdana; letter-spacing:-1px;
}
.comment-media .media .media-btn {
	margin-left:4px;
}

/* Review, Q & A Media */
.item-media { 
	margin-top:-10px; padding-bottom:10px;
}
.item-media .photo i { 
	background: rgb(238, 238, 238); padding: 10px; width: 50px; height: 50px; text-align: center; color: rgb(255, 255, 255); font-size: 30px; display: inline-block;
}
.item-media .photo img { 
	width: 50px !important; height: 50px !important; display:inline-block; 
}
.item-media .media { 
	border-top:1px solid #eee; margin:7px 0px; padding:7px 0px 0px; 
}
.item-media :first-child.media { 
	border-top:0px; margin-top:0px; padding-top:0px; 
}
.item-media h5 { 
	margin:6px 0px 4px; line-height:20px; font-size:14px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; 
}
.item-media h5 .media-fa { 
	font-size:13px; margin-left:4px; font-weight:normal !important; font-size:11px;
}
.item-media .media.media-reply { 
	border:0px; border-top:1px solid #eee; margin:7px 0px 0px; padding:7px 0px 0px;
}
.item-media .media .media-body { 
	padding-left:0px;
}
.item-media .media .media-info {
	margin-left:10px;
}
.item-media .media .media-content {
	margin-top:8px;
}
.item-media .media .media-content p {
	margin:0px; padding:0px;
}
.item-media .media .media-ans {
	color: orangered; font-size: 10px; font-weight:bold; font-family:verdana; letter-spacing:-1px;
}
.item-media .media .media-btn {
	margin-left:4px;
}

/* Head */
.item-head h1 { 
	font-weight:bold; margin:0px; padding:0px 10px 10px; color: rgb(59, 62, 67); line-height: 32px; font-size: 22px; letter-spacing:-1px; 
}
.item-head h1 .photo { 
	border-radius: 50%; width: 44px; height: 44px; margin-right:10px; 
}
.item-head .label { 
	margin-top:5px;
}
.item-head .no-attach { 
	border-bottom:0px; 
}
.item-head .view-head { 
	border-left:0px; border-right:0px; 
}
.item-head .view-head .sp { 
	display:inline-block; width:20px; text-align:center; font-size:11px; color:#888; 
}
.item-head .view-head .list-group-item { 
	padding:5px 15px; border-style:dotted; 
}

/* Item Image Box */
.item-image-box { 
	margin-bottom:15px;
}
.item-image-autosize { 
	position:relative; display:block; height: 0; padding-bottom: 56.25%; overflow: hidden; text-align:center;
}
.item-image-autosize img { 
	display:block; position:absolute; top:0; left:0; margin:0 auto; width:100%; height:auto; border:0px; 
}
.item-image-thumb { 
	overflow:hidden; margin-right:-8px;
}
.item-image-thumb a { 
	display:inline-block; margin-top:8px; margin-right:8px;
}

/* Item SNS Box */
.item-sns-box { 
	margin-bottom:15px; 
}
.item-sns-box .btn { 
	border-radius: 0px !important;
}

/* Item Tag */
.item-tag { margin:0px 0px 10px; padding:0px; color:#888; }
.item-tag a { color:#888; }
.item-tag a:hover { color:crimson; }

/* Item View Box */
.item-view-box { 
	text-align:center; 
}
.item-view-box a { 
	margin:0 10px 15px; width:80px; height:80px; display:inline-block; 
}
.item-view-box i { 
	background: rgb(245, 245, 245); padding: 20px; border-radius: 50%; width: 80px; height: 80px; text-align: center; color: rgb(143, 143, 143); font-size: 40px; display: inline-block; 
}
.item-view-box i:hover { 
	background: rgb(0, 0, 0); color: rgb(255, 255, 255); 
}

/* Item Good Box */
.item-good-box { 
	text-align:center; 
}
.item-good-box span { 
	margin:15px 6px; width:80px; height:80px; display:inline-block; 
}
.item-good-box a { 
	background: rgb(245, 245, 245); padding: 15px; border-radius: 50%; width: 80px; height: 80px; text-align: center; color: rgb(51, 51, 51); font-size: 22px; line-height:26px; display: inline-block; 
}
.item-good-box .item-good a:hover { 
	background: rgb(223, 17, 25); color: rgb(255, 255, 255); 
}
.item-good-box .item-nogood a:hover { 
	background: rgb(0, 0, 0); color: rgb(255, 255, 255); 
}

/* View Author */
.view-author { margin-top:10px; }
.view-author .auth-photo { width:160px; padding-right:15px; }
@media all and (max-width:460px) {
	.view-author .auth-photo { float:none; width:100%; padding-right:0px; }
	i.big-fa { fon-size:1.3em; }
}

#it_v_sns {margin:4px 0 15px;padding:0;list-style:none;zoom:1}
#it_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#it_v_sns li {float:left;margin:0 5px 0 0}

/* Item Comment Box */
#it_vc_opt ol {
	margin:0;padding:0;list-style:none;zoom:1;
}
#it_vc_opt ol:after {
	display:block;visibility:hidden;clear:both;content:"";
}
#it_vc_opt ol li {
	float:left;margin:0;
}
#it_vc_send_sns ul {
	margin:0;padding:0;list-style:none;zoom:1;
}
#it_vc_send_sns ul:after {
	display:block;visibility:hidden;clear:both;content:"";
}
#it_vc_send_sns ul li {
	float:left;margin:0 0 0 20px;
}
#it_vc_send_sns input {
	margin:0 0 0 5px;
}
@media all and (max-width:460px) {
	.comment-btn { text-align:center; }
	.comment-btn .pull-right { float:none !important; }
}

/* Item Use Form Box */
.form-is-size { 
	height:300px !important; 
}
ul.is-info { 
	margin:0; padding:0; list-style:none; 
}
ul.is-info li { 
	float:left; margin-right:20px; 
}

/* Item Q & A Form Box */
.form-iq-size { 
	height:300px !important; 
}
ul.iq-info { 
	margin:0; padding:0; list-style:none; 
}
ul.iq-info li { 
	float:left; margin-right:20px; 
}
@media all and (max-width:767px) {
	.iqa-photo { text-align:center; }
}

/* Relation Item */
.relation-box { 
	margin: 0px 0px 20px;
}
.relation-item { 
	margin: 0px 0px 10px; border: 1px solid rgb(231, 231, 231); transition:0.3s linear; border-image: none; overflow: hidden; position: relative; cursor: default; -webkit-transition: all 0.3s linear; 
}
.relation-item::before { 
	display: table; content: ""; 
}
.relation-item::after { 
	display: table; content: ""; 
}
.relation-item::after { 
	clear: both; 
}
.relation-item .label-tack { 
	left: 0px; top: 0px; z-index: 1; padding:10px 15px; position: absolute;
}
.relation-item .label-band { 
	z-index:2; font-family: tahoma; top: 5px; color: #fff; letter-spacing:1px; width: 100px; padding: 5px; right: -32px; font-size: 11px; position: absolute; text-align: center; 
	transform: rotate(45deg); -o-transform: rotate(45deg);	-ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); 
}
.relation-item .label-red { 
	background-color: rgba(231,76,60,0.8);
}
.relation-item .label-blue{ 
	background-color: rgba(52,152,219,0.8);
}
.relation-item .label-green { 
	background-color: rgba(114,192,44,0.8);
}
.relation-item .label-purple { 
	background-color: rgba(155,107,204,0.8);
}
.relation-item .img { 
	display:block; position:relative; height:0; overflow:hidden; text-align:center; background:#f5f5f5;
}
.relation-item .img img { 
	display:block; position:absolute; top:0; left:0; margin:0 auto; width:auto; max-width:100%; height:100%; border:0px; 
	-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; 
}
.relation-item .img:hover img { 
	-webkit-transform: scale(1.3); -moz-transform: scale(1.3); -o-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3); 
}
.relation-item .figure { 
	overflow: hidden; position: relative; 
}
.relation-item .figure .figure-title { 
	display:block; position:absolute; top:0; left:0; width:100%; height:100%; border:0px; 
}
.relation-item .figure .figure-subject { 
	font-size:20px; letter-spacing:-1px; background: rgba(34, 34, 34, 0.7); line-height:40px; color: rgb(255, 255, 255); text-shadow: 2px 2px 2px rgb(0,0,0); position: absolute; left:0; top: 50%; width:100%; margin-top:-20px; padding:6px 15px; text-align:center; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; 
}
.relation-item .figure:hover .figure-subject { 
	color: orangered; 
}
.relation-item .figure .figure-caption { 
	text-align: center; padding: 0px; 
	transition:transform 0.4s, opacity 0.1s 0.3s; left: 0px; top: auto; width: 100%; height: 100%; bottom: 0px; position: absolute; opacity: 0; transform: translateY(100%); -o-transition: -o-transform .4s, opacity .1s .3s; -moz-transition: -moz-transform .4s, opacity .1s .3s; -webkit-transition: -webkit-transform .4s, opacity .1s .3s; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -o-transform: translateY(100%); 
}
.relation-item .figure:hover .figure-caption { 
	transition:transform 0.4s, opacity 0.1s; opacity: 0.8; transform: translateY(0px); -o-transition: -o-transform .4s, opacity .1s; -moz-transition: -moz-transform .4s, opacity .1s; -webkit-transition: -webkit-transform .4s, opacity .1s; -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); 
}
.relation-item .figure .figure-caption ul { 
	list-style: none; margin: 0px; padding: 5px; text-align: center; left: 0px; width: 100%; bottom: 0px; position: absolute; background: rgb(0, 0, 0);
}
.relation-item .figure .figure-caption ul li { 
	display: inline-block; padding:0 10px; color: rgb(255, 255, 255);
}
.relation-item h2 { 
	margin:0; padding:15px; text-align:center; font-size: 14px; font-weight: 500; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; 
}
.relation-item .item-info { 
	padding: 10px 15px; border-top-color: rgb(241, 241, 241); border-top-width: 1px; border-top-style: solid; 
}
.relation-item .item-info::before { 
	display: table; content: ""; 
}
.relation-item .item-info::after { 
	display: table; content: ""; clear: both; 
}
.relation-item .item-info .cnt { 
	color: orangered; font-size:11px; font-weight:bold; font-family:verdana; letter-spacing:-1px; 
}

/* Item Event */
.item-event-banner { position: relative; }
.item-event-banner .carousel-nav a { background: rgb(245, 245, 245); border: 1px solid transparent; border-image: none; top: -50px; width: 30px; height: 30px; text-align: center; right: 0px; color: rgb(55, 55, 55); line-height: 26px; font-size: 18px; margin-top: 0px; position: absolute; opacity: 1; }
.item-event-banner .carousel-nav a:hover { background: rgb(55, 55, 55) !important; color: rgb(255, 255, 255); }
.item-event-banner .carousel-nav a.left { right: 36px; }
.item-event-banner .carousel-nav a.right { right: 0px; }
.item-event-banner .carousel-nav a:hover { background: rgb(255, 255, 255); }
.item-event-banner .carousel-item { margin: 0px 0px 15px; border: 1px solid rgb(231, 231, 231); transition:0.3s linear; border-image: none; overflow: hidden; position: relative; cursor: default; -webkit-transition: all 0.3s linear; }
.item-event-banner .carousel-item::before { display: table; content: ""; }
.item-event-banner .carousel-item::after { display: table; content: ""; }
.item-event-banner .carousel-item::after { clear: both; }
.item-event-banner .img { display:block; position:relative; height:0; overflow:hidden; text-align:center; background:#f5f5f5; }
.item-event-banner .img img { display:block; position:absolute; top:0; left:0; margin:0 auto; width:100%; height:auto; border:0px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.item-event-banner .img:hover img { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -o-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3); }
