@charset "utf-8";

/* widget-misc-popular */
.widget-misc-popular { clear:both; }
.widget-misc-popular ul::before { display: table; content: ""; }
.widget-misc-popular ul::after { display: table; content: ""; }
.widget-misc-popular ul::after { clear: both; }
.widget-misc-popular ul { list-style: none; margin: 0px; padding-left: 0px; }
.widget-misc-popular ul li { float: left; }
.widget-misc-popular ul li a { display:inline-block; background: rgb(255, 255, 255); padding: 4px 8px; border: 1px solid rgb(238, 238, 238); color: rgb(55, 55, 55); font-size: 12px; margin-right: 5px; margin-bottom: 5px; text-decoration: none; }
.widget-misc-popular ul li a:hover { text-decoration: none; }

